<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NumberLabelLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>YXYNumberAnimationLabelDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4CD8A751934706800735211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CD8A821934706800735211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4F8139219321AA9009F3815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4F813B319321AA9009F3815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
